{% extends 'base.html' %}

{% block content %}
<h1>{{ qstr }}</h1>
{{ search_results }}
<div class="content-body">
    <div class="content-row" id="popular-movies">
        <h2 style="margin-left: 7px;">Search Results</h2>
        <div class="carousel" data-flickity='{ "cellAlign": "left", "wrapAround": true }'>
            {% for i in search_results %}
                <div class="carousel-cell">
                    <img src="https://image.tmdb.org/t/p/original{{ i.poster }}" alt="Poster" srcset="">
                    <div class="carousel-text">
                        <h5><a href="/media/{{ i.movie_id }}">{{ i.title }}</a></h5>
                        <p class='info'>{{ i.rated }} | {{ i.runtime }} | {{ i.genre }}</p>
                        <h6><i class="fas fa-star"></i> {{ i.imdb_rating }}</h6>
                        <p class="people">Actors: {{ i.actors }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}