{% extends 'base.html' %}

{% block content %}

<h3>Trouble Playing?</h3>
<p><strong>1.</strong> Make sure you have <a href="https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm" style="color: red; text-decoration: none;">adblock</a> installed and enabled.</p>
<p><strong>2.</strong> Select a different source from the icon in the top right of the player.</p>
<p><strong>3.</strong> If problems continue, use the <a href="https://smithjesko.github.io/muy-pelicula/" style="color: red; text-decoration: none;">lecacy version.</a></p>


{% endblock content %}