{% load static %}
<!-- Author: Smith Jesko <contact@smithjesko.com / https://smithjesko.com> -->
<!-- Copyright (©) 2021 Smith Jesko -->

<!-- MIT License -->

<!-- Don't trust your government, kids. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volny Films</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/flickity.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/favicon.png' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="padding: 0; background-color: black;">
        <a class="navbar-brand" href="/" style="margin: 0; padding: 0;">
            <div class="hover-animation">
                <b>Volný</b> Films
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="padding-left: 10px;">
                <li class="nav-item">
                    <a class="nav-link" href="/#popular-movies">Popular Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#top-rated-movies">Top Rated Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#in-theaters">In Theaters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#popular-tv-shows">Popular TV Shows</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#top-rated-tv-shows">Top Rated TV Shows</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#on-the-air-tv-shows">On The Air TV Shows</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="POST">
                {% csrf_token %}
                {{ form }}
                <!-- <input class="form-control mr-sm-2 volny-input" type="search" placeholder="Search" aria-label="Search"> -->
                <button type="submit" class="volny-btn"><i class="tim-icons icon-zoom-split"></i><i class="fas fa-search"></i></button>
            </form>
        </div>
    </nav>
    <div class="container-fluid" style="min-height: 100px; width: 85%; margin-top: 30px; text-align: center;">
        <div id="blocker-alert" class="alert alert-dismissible fade show" role="alert">
            <span id="blocker-alert-text"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% block content %}

        {% endblock content %}
        <footer>
            <div class="row" style="margin: 30px 0; padding-bottom: 0; background-color: #000">
                <div class="col-8" style="height: 45px;">
                    <ul class="breadcrumb" style="margin-top: 0; margin-bottom: 0;">
                        <li><a href="/">Home</a></li>
                        <li><a href="https://smithjesko.github.io/muy-pelicula/" target="_blank">Legacy Version</a></li>
                        <li><a href="/report-a-bug">Report a Bug</a></li>
                        <li><a href="/terms" target="_blank">Terms</a></li>
                        <li><a href="/privacy-policy" target="_blank">Privacy Policy</a></li>
                        <li>©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            made for the
                            &nbsp<i class="fas fa-globe-americas"></i>&nbsp by
                            <a href="https://www.smithjesko.com" target="_blank">Smith Jesko</a>
                        </li>
                    </ul>
                </div>
                <div class="col-4" style="height: 45px; text-align: right; line-height: 45px;">
                    <p style="color: white;  padding-right: 16px; margin: 0; font-size: 14px;">Volný Films does <b>not</b> host any media.</p>
                </div>
            </div>
        </footer>
    </div>
</body>

<script src="https://kit.fontawesome.com/8a3ee584df.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="{% static 'js/flickity.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/prebid-ads.js' %}"></script>
<script>
    if( window.canRunAds === undefined ) {
        // adblocker detected
        console.log('adblocker detected')
        document.getElementById('blocker-alert-text').innerHTML = 'Adblocker status: <b>Installed</b>'
        document.getElementById('blocker-alert').classList.add('alert-success')
    } else {
        document.getElementById('blocker-alert-text').innerHTML = 'ATTENTION! Please use an <a href="https://chrome.google.com/webstore/detail/ublock-origin/cjpalhdlnbpafiamejdnhcphjbkeiagm">Adblocker</a> on this site for it to function properly.'
        document.getElementById('blocker-alert').classList.add('alert-danger')
    }
</script>
</html>

<!-- "The power of Open Source is the power of the people." -->
